/* Le code CSS spécifique à la page d'accueil */
:root {
    --vert: #00B0AE;
    --vertClair: #DDF6F8;
    --rose: #FB87A7;
    --roseClair: #FFEAFC;
    --jaune: #FFB636;
    --jauneClair: #FFEBC7;
    --text-color: black;

    --titre-font-family: "Baloo Chettan 2", sans-serif;
    --titre-font-weight: 500;
    --titre-font-style: normal;

    --sousTitre-font-family: "Baloo Bhai 2", sans-serif;
    --sousTitre-font-weight: 500;
    --sousTitre-font-style: normal;

    --text-font-family: "Baloo 2", sans-serif;
    --text-font-weight: 400;
    --text-font-style: normal;

    --radius: 20px;
}

* {
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

/* NavBar */

#navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    border-radius: var(--radius);
    background-color: white;
    width: 100%;
    max-width: 800px;
    padding: 18px 40px;
    margin-left: auto;
    margin-right: auto;
    justify-self: anchor-center;
    margin-top: 1%;

    img {
        width: 250px;
        height: 50px;
    }

    a {
        color: var(--text-color);
        font-family: var(--sousTitre-font-family);
        font-weight: var(--sousTitre-font-weight);
        font-style: var(--sousTitre-font-style);
        font-size: x-large;
        width: 180px;
        text-align: center;
    }
}